<%= turbo_stream_flash_message %>


  <%= turbo_stream.update 'main_container' do %>
    <div class="row g-3">
      <div class="col-12">
        <% if @account.errors.any? %>
          <h1>Account is not deleted.</h1>
        <% else %>
          <h1>Account deleted succesfully.</h1>
        <% end %>
      </div>
      <div class="col-12">
        <%= link_to 'Return to Index', accounts_path, class: 'btn btn-primary' %>
        <%= link_to 'Edit Account', edit_account_path(@account), class: 'btn btn-warning' %>
      </div>
    </div>
  <% end %>