<%= turbo_frame_tag 'main_container' do %>
  <div class="row g-3">
    <div class="col-12">
      <h1>Edit Account with VAT: <%= @account.vat %></h1>
    </div>
    <div class="col-12">
      <%= render 'form_notifications', obj: @account %>
    </div>

    <div class="col-12">
      <%= render 'form', obj: @account %>
    </div>
  </div>
<% end %>